.Inicio {
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    margin-right: 200px;
    margin-left: 200px;
}

.info-container1 {
    display: flex !important;
    justify-content: start !important;
    justify-content: space-around !important;
    margin-left: 0px;
    margin-right: 100px;
    margin-bottom: 90px;
}

.info-box {
    display: flex !important;
    justify-content: start !important;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 40px !important;
    height: 100%;
    width: 600px;
    background-color: white;
    border: rgb(94, 33, 41) solid 2px;
    margin-left: 50px;
}

.box-text-container {
    margin-top: 10px !important;
    width: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.box-titulo {
    font-family: "Noto Serif Display", serif;
    margin-top: 240px;
    margin-left: 65px;
    font-size: 50px !important;
}

.box-text {
    text-align: justify;
    font-size: 22px;
    margin-right: 30px;
    margin-left: 65px;
    display: flex;
    align-items: flex-start !important;
}

.global-btn {
    background-color: white;
    color: rgb(94, 33, 41);
    border: solid 2px rgb(94, 33, 41);
}

.global-btn:hover {
    background-color: rgb(94, 33, 41);
    color: white;
}

.titulos {
    margin-top: 100px;
    margin-bottom: 14px;
    font-family: "Noto Serif Display", serif;
    text-align: start;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 50px;
    border-bottom: rgb(94, 33, 41) solid 1px;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.about-titulo {
    text-align: justify;
    font-size: 30px;
    display: flex;
    align-items: flex-start !important;
    font-family: "Noto Serif Display", serif;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 40px !important;
}

.about-text {
    margin-left: 50px;
    margin-right: 85px;
    text-align: justify;
    font-size: 22px;
    display: flex;
}

.about-img {
    margin-top: 50px;
    margin-right: 150px;
    width: 850px;
    height: 250px;
}

.encuestas {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px !important;
}

.encuestas-text {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-size: 22px;
    display: flex;
}

.controles {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.controles-bpm {
    flex-direction: column;
}

.titulo-bpm {
    text-align: justify;
    font-size: 30px;
    display: flex;
    align-items: flex-start !important;
    font-family: "Noto Serif Display", serif;
    margin-left: 50px;
    font-size: 30px !important;
    margin-left: 70px;
    margin-right: 70px;
}

.bpm-text {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 22px;
}

.controles-calidad {
    display: flex;
    margin-right: 50px;
}

.titulo-calidad {
    flex-direction: row;
    text-align: justify;
    font-size: 30px;
    display: flex;
    align-items: flex-start !important;
    font-family: "Noto Serif Display", serif;
    margin-left: 50px;
    font-size: 30px !important;
    margin-left: 70px;
    margin-right: 70px;
}

.calidad-text {
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 22px;
}

.galeria {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.galeria-cont {
    flex-direction: column;
    flex: 25%;
    padding: 5px;
}

.galeria-img {
    width: 100%;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.espaciado {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: start;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: rgb(94, 33, 41) solid 1px;
}
