.Inicio {
    margin-top: 120px;
    font-family: "Roboto", sans-serif;
}

.info-container1 {
    display: flex !important;
    justify-content: start !important;
    justify-content: space-around !important;
    margin-left: 0px;
    margin-right: 100px;
}

.info-box {
    display: flex !important;
    justify-content: start !important;
    flex-direction: column;
    border-radius: 3px;
    margin-top: 40px !important;
    height: 100%;
    width: 600px;
    background-color: white;
    border: rgb(94, 33, 41) solid 2px;
}

.box-text-container {
    margin-top: 40px !important;
    width: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.box-titulo{
    font-family: 'Noto Serif Display', serif;
    margin-top: 240px;
    font-size: 50px !important;
}

.box-text {
    text-align: justify;
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start !important;
}

.global-btn {
    background-color: white;
    color: rgb(94, 33, 41);
    border: solid 2px rgb(94, 33, 41);
}

.global-btn:hover {
    background-color: rgb(94, 33, 41);
    color: white;
}

.titulos {
    margin-top: 50px;
    font-family: 'Noto Serif Display', serif;
    text-align: start;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 50px;
    border-bottom: rgb(94, 33, 41) solid 1px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 30px;
}

.espaciado {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: start;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: rgb(94, 33, 41) solid 1px;
}
