.Carro {
    margin-top: 62px;
}

.carro-img {
    border: solid rgb(94, 33, 41)  3px;
    height: 670px;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 375px) {
    .carro-img{
        margin: auto;
        height: 300px;
        width: 100%;
        border-top: solid 3px rgb(94, 33, 41);
        border-bottom: solid 3px rgb(94, 33, 41);
    }
}



