.titulo-info {
    margin-top: 130px;
    margin-bottom: 60px;
    text-align: start;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: rgb(94, 33, 41) solid 1px;
    font-family: 'Noto Serif Display', serif;
}

.card-flex {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    justify-content: space-around !important;
    text-decoration: none !important;
    margin-bottom: 50px;
    margin-top: 30px;
}

.card-cont {
    border: solid 2px rgb(94, 33, 41);
    height: 350px;
    width: 350px ;
}

.card-img {
    border-bottom: 1px solid rgb(94, 33, 41);
    height: 200px;
    object-fit: contain;
    transition: 0.3s;
}

@media only screen and (max-width: 375px) {
    .card-cont {
        width: 15rem !important;
    }
}
