.nav {
    background-color: white;
    border-bottom: solid 2px rgb(94, 33, 41) !important;
    border-bottom: 2px;
}

.nav-container {
    margin: auto;
}

.efecto-nav {
    transition: 0.2s;
}

.efecto-nav:hover {
    color: rgb(94, 33, 41) !important;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}